<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
    <link rel="stylesheet" href="./item-form.css">
</head>

<body>
    <section>
        <div class="heading">
            <h1>Add new Item</h1>
        </div>
        <div class="iform" id="iform">
            <h1>Add new Item</h1>
        <form>
            <tr>
                <td>
                    <lable class="name" id="name">Item name</lable><br>
                    <input type="text" id="uname" required><br><br>
                </td>
            </tr>
            <tr>
                <td>

                    <lable class="price" id="price">Item Price</lable><br>
                    <input type="text" id="uprice" required><br><br>

                </td>
            </tr>

            <tr>
                <td>
                    <lable class="imgurl" id="imgurl">Item Image Url</lable><br>
                    <input type="text" id="uimgurl" required><br><br>

                </td>
            </tr>

            <div class="btn" id="btn">
                <input type="submit">
            </div>
        </form>

        </div>


    </section>
</body>

</html>