<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
      <link rel="stylesheet" href="../static/css/menstyle.css" th:href="@{/css/menstyle.css}"/>
    <title>men</title>
    </head>
    <body>
    <header>
      <div class="head">
        <div class="box">
          <img src="../static/Images/Logo.jpg"  th:src="@{/Images/Logo.jpg}"alt="logo"/>
            </div>
              <div class="home" >
                <a href="/"  ><h3>Home</h3></a>
              </div>

          <div class="search">
            <div class="input-group">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <button type="button" class="btn btn-outline-primary">search</button>
            </div>
          </div>

          <div class="nav-item">
            <a class="nav-link" href="cart"><img src="../static/Images/cart.jpg"  th:src="@{/Images/cart.jpg}" width="45" height="45"/></a>
            </div>
            
            
          <div class="profile">
            <img src="../static/Images/Profile.png"  th:src="@{/Images/Profile.png}" alt="logo" width="50" height="50"/><br>
            <select id="admin">
            <option><a href="">profile</a></option>
            <option><a href="">Setting</a></option>
            <option><a href="">Logout</a></option>
            </select>
        </div>
        

          </div>
          
        </div>
    </header>

    

    <section>
        <div class="container">
          <div class="left">
          <div class="bars">
            <div class="one">
              <a href="mentop">Top-Wear</a>
          </div>
          <div class="two">
            <a href="menbot">Bottom-Wear</a>
          </div>
          <div class="three">
            <a href="menacce">Accessories</a>
          </div>
          <div class="four">
            <a href="menfoot">Footwear</a>
          </div>
          </div>
          </div>
         <div class="right">
            <div class="card">
              <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/a.jpg"  th:src="@{/Images/mAcce/a.jpg}" alt="item">
            </div>
            <div class="price">
             <p>500Rs flt 20% off</p>
            </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/25/ring/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="25">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="sparx">
                <input type="hidden" name="imgurl" value="/Images/mAcce/a.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/b.jpg"  th:src="@{/Images/mAcce/b.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/26/braslet/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="26">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="braslet">
                <input type="hidden" name="imgurl" value="/Images/mAcce/b.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/c.jpg"  th:src="@{/Images/mAcce/c.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/27/belt/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="27">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="belt">
                <input type="hidden" name="imgurl" value="/Images/mAcce/c.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/d.jpg"  th:src="@{/Images/mAcce/d.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/28/watch/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="28">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="braslet">
                <input type="hidden" name="imgurl" value="/Images/mAcce/d.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/e.jpg"  th:src="@{/Images/mAcce/e.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/29/belt/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="29">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="belt">
                <input type="hidden" name="imgurl" value="/Images/mAcce/e.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/f.jpg"  th:src="@{/Images/mAcce/f.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/30/wolet/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="30">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="wolet">
                <input type="hidden" name="imgurl" value="/Images/mAcce/f.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/g.jpg"  th:src="@{/Images/mAcce/g.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/31/wolet/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="31">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="wolet">
                <input type="hidden" name="imgurl" value="/Images/mAcce/g.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/mAcce/h.jpg"  th:src="@{/Images/mAcce/h.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/32/perfume/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="32">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="perfume">
                <input type="hidden" name="imgurl" value="/Images/mAcce/h.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          
         </div>
         </div>
        </div>
         
    
    </section>



    </body>
    </html>
      