<!DOCTYPE html>
<html>
    <head>
    <link href="cartstyle.css" rel="stylesheet">
    <title>cart</title>
    </head>
    <body>
    <header>
        <div class="head">
        <div class="box">
            <img src="./Images/Logo.jpg" alt="logo"/>
            </div>
              <div class="home" >
                <a href="./index.html"  ><h3>Home</h3></a>
              </div>

          <div class="search">
            <div class="input-group">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <button type="button" class="btn btn-outline-primary">search</button>
            </div>
          </div>
          <div class="profile">
            <img src="./Images/Profile.png" alt="logo" width="50" height="50"/><br>
            <select id="admin">
            <option><a href="">profile</a></option>
            <option><a href="">Setting</a></option>
            <option><a href="">Logout</a></option>
            </select>
        </div>
        

          </div>
          
        </div>
    </header>

    <section>
        <div class="container">
          <div class="left">
          <div class="bars">
            <div class="one">
            <a href="./item-form.html">Add Own Item</a>
            </div>
            
          </div>
          </div>
          <div class="right">
            
      
         </div>
        </div>
         
    
    </section>
    </body>
    </html>
      