<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
      <link rel="stylesheet" href="../static/css/menstyle.css" th:href="@{/css/menstyle.css}"/>
    <title>men</title>
    </head>
    <body>
    <header>
      <div class="head">
        <div class="box">
          <img src="../static/Images/Logo.jpg"  th:src="@{/Images/Logo.jpg}"alt="logo"/>
            </div>
              <div class="home" >
                <a href="/"  ><h3>Home</h3></a>
              </div>

          <div class="search">
            <div class="input-group">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <button type="button" class="btn btn-outline-primary">search</button>
            </div>
          </div>

          <div class="nav-item">
            <a class="nav-link" href="cart"><img src="../static/Images/cart.jpg"  th:src="@{/Images/cart.jpg}" width="45" height="45"/></a>
            </div>
            
            
          <div class="profile">
            <img src="../static/Images/Profile.png"  th:src="@{/Images/Profile.png}" alt="logo" width="50" height="50"/><br>
            <select id="admin">
            <option><a href="">profile</a></option>
            <option><a href="">Setting</a></option>
            <option><a href="">Logout</a></option>
            </select>
        </div>
        

          </div>
          
        </div>
    </header>

    

    <section>
        <div class="container">
          <div class="left">
          <div class="bars">
            <div class="one">
              <a href="womentop">Top-Wear</a>
            </div>
            <div class="two">
              <a href="womenbot">Bottom-Wear</a>
            </div>
            <div class="three">
              <a href="Beuaty">Beauty</a>
            </div>
            <div class="four">
              <a href="jewellery">Jewellery</a>
            </div>
            <div class="five">
              <a href="womenfoot">Footwear</a>
            </div>
          </div>
          </div>
         <div class="right">
            <div class="card">
              <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/a.jpg"  th:src="@{/Images/wtop/a.jpg}" alt="item">
            </div>
            <div class="price">
             <p>500Rs flt 20% off</p>
            </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/33/top/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="33">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="top">
                <input type="hidden" name="imgurl" value="/Images/wtop/a.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/b.jpg"  th:src="@{/Images/wtop/b.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/34/short/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="34">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="short">
                <input type="hidden" name="imgurl" value="/Images/wtop/b.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/c.jpg"  th:src="@{/Images/wtop/c.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/35/skert/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="35">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="skert">
                <input type="hidden" name="imgurl" value="/Images/wtop/c.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/d.jpg"  th:src="@{/Images/wtop/d.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/36/frock/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="36">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="frock">
                <input type="hidden" name="imgurl" value="/Images/wtop/d.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/e.jpg"  th:src="@{/Images/wtop/e.jpg}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/37/night/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="37">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="night">
                <input type="hidden" name="imgurl" value="/Images/wtop/e.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/f.webp"  th:src="@{/Images/wtop/f.webp}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/38/toppant/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="38">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="toppant">
                <input type="hidden" name="imgurl" value="/Images/wtop/f.webp">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/g.webp"  th:src="@{/Images/wtop/g.webp}" alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/39/tshirt/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="39">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="tshirt">
                <input type="hidden" name="imgurl" value="/Images/wtop/g.webp">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
          <div class="pp">
          <div class="cart-item">
            <div class="item">
              <img src="../static/Images/wtop/h.jpg"  th:src="@{/Images/wtop/h.jpg}"alt="item">
            </div>
            <div class="price">
              <p>500Rs flt 20% off</p>
             </div>
            <div class="link">
              <a href="buy" id="B">Buy</a>
              <a href="" id="D">Detail</a>
              <form action="/Addcart/40/fancy/500" method="post">
                <!-- Add any necessary hidden fields for dynamic values -->
                <input type="hidden" name="id" value="40">
                <input type="hidden" name="price" value="500">
                <input type="hidden" name="name" value="fancy">
                <input type="hidden" name="imgurl" value="/Images/wtop/h.jpg">
                <!-- Add to Cart button as a form submission -->
                <button type="submit">Add to Cart</button>
              </form>
              </div>
          </div>
          </div>
         
          
         </div>
         </div>
        </div>
         
    
    </section>



    </body>
    </html>
      